/* Flexbox in CSS */

.container {
     background-color: beige;
    border:2px solid black;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction:row;
    height: 700px;
    /* justify-content: center;
    /* justify-content: space-between; */
     /* justify-content:space-around; */
    /* justify-content:space-evenly  */
    align-items: start;
    justify-content: center;
    align-content: start;
} 

.box {
    border:1px solid black;
    height:200px;
    width:200px;
    margin:5px;
}

#box1 {
    background-color:orange;
    /* flex-shrink: 4; */
    flex-grow: 5;
    align-self: center;
}

#box2 {
    background-color: burlywood;
        flex-grow: 1;
        align-self:flex-start
}

#box3 {
    background-color: chocolate;
        flex-grow: 1;
        align-self: flex-end;

}

#box4 {
    background-color: cornflowerblue;
        flex-grow: 2;
        /* flex-basis: 400px; */
        align-self: center;
}
