/* CSS Position Property */

img {
    margin:10px;
}

div {
    height:5000px;
    border:1px solid black;
    background-color:green;

}


/* .image1 {
    position: relative;
    top: 100px;
    left: 100px; */
/* } */
/* 
.image2 {
    position:absolute;
    top:200px;
} */

.image3 {
    position: fixed;
}


.box {
    position:sticky;
    height: 5000px;
    background-color: 5000px;

}