p {
    /* font-style: italic; */
    font-size: 20px;
    font-family: cursive;
    font-weight: 900;
    line-height: 1;
}  


/* color in  css */

#laptop1 {
    color:orange;
    background-color: red;
}

#laptop2 {
    background-color: rgba(122, 21, 53, 0.667);
}


#laptop3 {
    background-color: hsla(199, 86%, 46%, 0.655);
} 

